<a href="https://colab.research.google.com/github/bhuvanlekkala/bhuvanlekkala/blob/main/Week_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Data Analysis**
 a method of collecting and organizing the data and if required manipulating the data so that one can derive some useful information from the data

**Pandas**
a tool in Python that helps you collect (or read) the data from a file, organize it in a tabular format, manipulate and clean the data if required to derive the insightful information from the data.

tool used by data scientists to:
read,
write,
manipulate, and 
analyse the data for large no of millions and rows

In [7]:
# import pandas lib as anu other using np shortcut
import pandas as pd
# create a dictiobary with key and value as we do in  week 0
b={"one":1,"two":2,"four":4,"five":5,"six":6,"seven":7}
# series is a 1-D array can hold any data type may be mixed and its like excel(Table)
pd.Series(b)
# cann have int,float etc

dict

In [14]:
import pandas as pd
# python list is created
data=[[1006,'achuth',20],
[1230,"divesh",50],
[1430,'Bhaskar',60]]
# data frame is 2-D, collections of series, structured with rows and columns
# horizantal rows and vertical columns
pd.DataFrame(data)

      0        1   2
0  1006   achuth  20
1  1230   divesh  50
2  1430  Bhaskar  60

In [32]:
import pandas as pd
import numpy as np
# import modules
array=np.array([[1006,'achuth',20],
            [1230,'divesh',50],
            [1430,'Bhaskar',60]])
# create array and values in it
index_values=["first","second","third"]
# give attributes for rows
column_values=["roll no","name","marks"]
# give attributes for columns
df=pd.DataFrame(data=array,index=index_values,columns=column_values)
# create  data frame  df 
print(df)
# printb df
# series is a column in data frame

       roll no     name marks
first     1006   achuth    20
second    1230   divesh    50
third     1430  Bhaskar    60